<div class="col-md-5 well">
<h3><span id="four">Question: </span> <span class="one">{{question.content}}</span></h3>
<h4><span id="five">Author: </span><strong>{{question.questionAuthor}}</strong></h4>
<h4><span id="six">Notes: </span> <strong>{{question.notes}}</strong></h4>
<br>

<button class="btn-danger" {{action 'deleteQuestion' question}}>Delete question</button>
</div>

<div class="col-md-1">
</div>

<div class="col-md-6">
  <br>
<h4 class="add">Add new answer to this question!</h4>
{{new-answer saveAnswer="saveAnswer" question=question}}
<br>
<br>
<h4>Answers by other users:</h4>
{{#each question.answers as |answer|}}
  <div class="answerBox">
    <ul>
    <li class="answer"><span id="two"> Answer: </span><strong>{{answer.answerContent}}</strong>, <span id="three">Submitted by:</span><strong> {{answer.answerAuthor}}</strong></li>
  </ul>
  </div>
  {{/each}}
</div>
